version: '3'
services:
  arcface:
    build: .
    ports:
      - "8804:8000"
    volumes:
      - ./lib:/app/lib
    environment:
      - TZ=Asia/Shanghai
      - ARCFACE_APPID=${ARCFACE_APPID}
      - ARCFACE_SDKKEY=${ARCFACE_SDKKEY}
    restart: unless-stopped